:root {
    --bg-color: #131422;
    --bg-color-brighter: #30313a;
    --bg-color-darker: #0c0d16; 
    --blue: #1da9d1;
    --green: #2ee728;
    --yellow: #e4d01a;
    --red: #d11d3b;
    --text-color: #ffffff;
    --font: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}
.bg-solid-black {
    filter: drop-shadow(2px 2px 0px black);
}
.bg-blurry-black {
    filter: drop-shadow(2px 2px 5px black);
}
* {
    margin: 0px;
    /* border: 1px solid pink; /* Remove after! */
}
body {
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--text-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary-75); 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-75); 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary); 
}