header {
    background-color: var(--bg-color-darker);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
img {
    width: 100px;
    height: 100px;
}
main {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game {
    background-color: var(--bg-color-brighter);
    height: 100%;
    width: 60%;
}
.textCenter {
    text-align: center;
}